services:
  passivbot_multi:
    # Retirez la ligne suivante :
    # profiles: ["multi"]
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./configs:/app/configs
      - ./api-keys.json:/app/api-keys.json
    environment:
      - BITGET_API_KEY=${BITGET_API_KEY}
      - BITGET_API_SECRET=${BITGET_API_SECRET}
      - BITGET_PASSPHRASE=${BITGET_PASSPHRASE}
    command: python3 src/passivbot_multi.py configs/live/multi.hjson
    restart: unless-stopped
