services:
  passivbot_multi:
    profiles: ["multi"]
    build:
      context: .
      dockerfile: Dockerfile_live
    volumes:
      - ./configs:/app/configs
      - ./api-keys.json:/app/api-keys.json
    environment:
      - BITGET_API_KEY=${BITGET_API_KEY}
      - BITGET_API_SECRET=${BITGET_API_SECRET}
      - BITGET_PASSPHRASE=${BITGET_PASSPHRASE}
    command: python3 src/passivbot_multi.py configs/live/multi.hjson
    restart: unless-stopped

  passivbot_optimize:
    profiles: ["optimize"]
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./configs:/app/configs
      - ./api-keys.json:/app/api-keys.json
    environment:
      - BITGET_API_KEY=${BITGET_API_KEY}
      - BITGET_API_SECRET=${BITGET_API_SECRET}
      - BITGET_PASSPHRASE=${BITGET_PASSPHRASE}
    command: python3 src/optimize.py configs/optimize/default.hjson
    restart: "no"

  passivbot_backtest:
    profiles: ["backtest"]
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./configs:/app/configs
    command: python3 src/backtest.py configs/backtest/default.hjson
    restart: "no"
